* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0px 90px;
  position: relative;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
  margin-right: auto ;
}

.login {
  background-color: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 90px;
  height: 35px;
  width: 80px;
  border: 1px solid rgb(180, 176, 176);
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

.login-image {
  height: 15px;
  margin-right: 3px;
}
.login:hover {
  box-shadow: 0px 2px 3px rgb(180, 176, 176);
  transition: 0.3s;
}

/* style the hero section */

.hero {
  display: flex;
  flex-direction: column;
  padding: 20px 90px;
}

.hero--photo {
  width: 25rem;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

/* style the card section */
.card-section {
  display: flex;
  padding: 0px 80px;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 0px 10px;
  position: relative;
}

.card-image {
  border-radius: 0.56rem;
  width: 12rem;
  height: 16rem;
}

.card-rating {
  display: flex;
  flex-direction: row;
  margin-top: -0.6rem;
}

.card-star {
  align-self:center;
  margin: 0 0.2rem 0.2rem 0;
}

.card-text {
  margin-top: -1rem;
}

/* style the badge */
.card-badge {
  font-size: xx-small;
  font-weight: 600;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  margin: 10px 0 0 10px;
  padding: 5px;
  border-radius: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    padding: 0px 0px 0px 30px;
  }
  
  .login {
    margin-right: 30px;
  }
  
  /* style the hero section */
  
  .hero {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }
  
  .hero--photo {
    width: 17rem;
  }
  
  .hero--header {
    margin-bottom: 10px;
  }
  
  /* style the card section */
  .card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
}